/*********************************************** 
 NAVBAR
***********************************************/
.debug header {
    background-color: coral;
}

.debug header nav > div {
    background-color: aqua;
    border: var(--debug-border);
}

/*********************************************** 
 MAIN
***********************************************/
/* ASIDE */
.debug aside {
    background-color: navy;
}

.debug aside a {
    background-color: beige;
    border: var(--debug-border);
}

/* PARTE CENTRALE */
.debug #main-screen {
    background-color: yellowgreen;
}

.debug #main-screen .central-cont {
    background-color: cornsilk;
}

.debug .central-cont > .row > div {
    background-color: coral;
    height: 500px;
    border: var(--debug-border);
}

.debug #badges .row > div {
    background-color:darkgoldenrod;
    border: var(--debug-border);
}

.debug .content-placeholder {
    background-color: chocolate;
    border: var(--debug-border);
    margin: 1rem 0;
}