/*********************************************** 
 NAVBAR
***********************************************/
.debug header {
    background-color: coral;
}

.debug header nav > div {
    background-color: aqua;
    border: var(--debug-border);
}

/*********************************************** 
 MAIN
***********************************************/
/* ASIDE */
.debug aside {
    background-color: navy;
}

.debug aside li {
    background-color: beige;
    border: var(--debug-border);
}

/* PARTE CENTRALE */
.debug #main-screen {
    background-color: yellowgreen;
}

.debug #badges .row > div {
    background-color:darkgoldenrod;
    border: var(--debug-border);
}