/*********************************************** 
 HEADER
***********************************************/
header {
    height: 3rem;
}

/*********************************************** 
 MAIN
***********************************************/
main {
    height: calc(100vh - 3rem);
}

/* ASIDE */
aside {
    width: 8rem;
    height: 100%;
}

aside nav {
    height: 100%;
}

/* PARTE CENTRALE */
#main-screen {
    width: calc(100% - 8rem);
    height: 100%;
}

#badges {
    width: 100%;
}

.central-cont {
    width: 100%;
}

/*********************************************** 
 VARIABILI
***********************************************/
:root {
    --debug-border: 1px dashed black
}