/*********************************************** 
 RESET
***********************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************************************** 
 HEADER
***********************************************/
header {
    height: 4rem;
}

.my-bg-lightgray {
    background-color: #e5e5e5;
}

/*********************************************** 
 MAIN
***********************************************/
main {
    height: calc(100vh - 4rem);
}

/* ASIDE */
aside {
    width: 8rem;
    height: 100%;
    background-image: url("../img/sidebar-bg.png");
    background-color: #051e34;
}

aside nav {
    height: 100%;
}

/* PARTE CENTRALE */
#main-screen {
    width: calc(100% - 8rem);
    height: 100%;
}

#badges {
    width: 100%;
}

.my-badge-bg-color {
    background-color: #165bba;
}

.central-cont {
    width: 100%;
}

/*********************************************** 
 VARIABILI
***********************************************/
:root {
    --debug-border: 1px dashed black
}

/*********************************************** 
 MEDIAQUERY
***********************************************/
@media screen and (max-width: 992px) {
    aside {
        width: 4rem;
    }

    #main-screen {
        width: calc(100% - 4rem);
    }

    .my-media-apparence {
        display: none;
    }

    .my-header-logo > img:last-child {
        display: block;
    }
    
}