/*********************************************** 
 RESET
***********************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************************************** 
 HEADER
***********************************************/
header {
    height: 4rem;
}

.my-bg-lightgray {
    background-color: #e5e5e5;
}

.my-header-logo > img:last-child {
    display: none;
    height: 2.5rem;
}

/*********************************************** 
 MAIN
***********************************************/
main {
    height: calc(100vh - 4rem);
}

/* ASIDE */
aside {
    width: 8rem;
    height: 100%;
    background-image: url("../img/sidebar-bg.png");
    background-color: #051e34;
}

aside nav {
    height: 100%;
}

aside li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

aside li i {
    height: 1rem;
    width: 1rem;
}

/* PARTE CENTRALE */
#main-screen {
    width: calc(100% - 8rem);
    height: 100%;
}

/* sezione badges */
#badges {
    width: 100%;
}

.my-badge-bg-color {
    background-color: #165bba;
}

/* sezione centrale */
.central-cont {
    width: 100%;
}

/* sezione prossime classi */
.table img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.table tr:not(.titles):hover {
    background-color: lightgray;
}

/*********************************************** 
 VARIABILI
***********************************************/
:root {
    --debug-border: 1px dashed black
}

/*********************************************** 
 MEDIAQUERY
***********************************************/
@media screen and (max-width: 992px) {
    aside {
        width: 4rem;
    }

    #main-screen {
        width: calc(100% - 4rem);
    }

    .my-media-apparence-md {
        display: none;
    }

    .my-header-logo > img:last-child {
        display: block;
    }
    
}

@media screen and (max-width: 768px) {
    .my-media-apparence-sm {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .my-media-apparence-xs {
        display: none;
    }
}